<div class="signup">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login">
  </form>
</div>